@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */

* {
  font-family: "Poppins", sans-serif;
}

/* global */

.content {
  font-size: 15px;
}

.section-heading {
  font-size: 28px;
}

.banner-heading {
  font-size: 30px;
}

.primary-bg {
  background: #eb3e32;
}

.primary-text-color {
  color: #f6aa28;
}

.secondary-text-color {
  color: #262b2c;
}

/* ######### Header ############ */
.main-navigation-links::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.main-navigation-links:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* ######### Home ######## */
.home-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: white;
}

.best-seller-product-listing {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-between;
  row-gap: 25px;
}

.category-button {
  position: absolute;
  left: 40%;
  top: 40%;
  text-align: center;
  color: white;
}

.category-section img {
  transition: 0.3s ease-in all;
}

.category-section:hover img {
  transform: scale(1.1);
}

.testimonial-section {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;
}

.brand-logo-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.brand-logo-container img {
  margin: 0 auto;
}

/* ############## ABOUT PAGE ######### */
.team-section {
  display: grid;
  gap: 5px;
  justify-content: space-between;
  grid-template-columns: 20% 20% 20% 20%;
  margin-top: 50px;
}

.blog-mainContainer {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  justify-content: space-between;
  margin-top: 50px;
}

/* ########## Product Details ####### */
.productDetails-heading {
  position: relative;
}
.productDetails-heading:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #000;
  left: 0;
  bottom: -5px;
}

/* ########### Media query ########## */

@media (max-width: 1024px) {
  .mainNav {
    display: none;
  }
  .header-main-btn {
    display: none;
  }
  .menu-toggle-btn {
    display: block;
  }
}

@media (max-width: 911px) {
  .blog-mainContainer {
    grid-template-columns: 50% 50%;
    gap: 25px;
  }
}

@media (max-width: 767px) {
  .brand-logo-container {
    grid-template-columns: 50% 50%;
  }

  .team-section {
    grid-template-columns: 45% 45%;
    gap: 20px;
  }
}

@media (max-width: 579px) {
  .brand-logo-container {
    grid-template-columns: 100%;
  }
  .best-seller-product-listing {
    grid-template-columns: 49% 49%;
  }
  .blog-mainContainer {
    grid-template-columns: 100%;
    gap: 25px;
  }
}

@media (max-width: 460px) {
  .best-seller-product-listing {
    grid-template-columns: 100%;
  }
}

@media (max-width: 420px) {
  .team-section {
    grid-template-columns: 80%;
    justify-content: center;
    gap: 20px;
  }
}
